USE [master]
GO
/****** 1. CREACIÓN DE LA BASE DE DATOS ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'InventarioDB')
BEGIN
    CREATE DATABASE [InventarioDB]
END
GO

USE [InventarioDB]
GO

/****** 2. CREACIÓN DE TABLAS ******/

-- Tabla Maestra Principal
CREATE TABLE [dbo].[MasterTable](
	[IdMasterTable] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED ([IdMasterTable] ASC)
) ON [PRIMARY]
GO

-- Tabla de Registros de las Maestras
CREATE TABLE [dbo].[MasterTableRegister](
	[IdMasterTableRegister] [int] IDENTITY(1,1) NOT NULL,
	[IdMasterTable] [int] NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED ([IdMasterTableRegister] ASC)
) ON [PRIMARY]
GO

-- Tabla de Movimientos de Inventario
CREATE TABLE [dbo].[MOV_INVENTARIO](
	[COD_CIA] [varchar](5) NOT NULL,
	[COMPANIA_VENTA_3] [varchar](5) NOT NULL,
	[ALMACEN_VENTA] [varchar](10) NOT NULL,
	[TIPO_MOVIMIENTO] [varchar](2) NOT NULL,
	[TIPO_DOCUMENTO] [varchar](2) NOT NULL,
	[NRO_DOCUMENTO] [varchar](50) NOT NULL,
	[COD_ITEM_2] [varchar](50) NOT NULL,
	[PROVEEDOR] [varchar](100) NULL,
	[ALMACEN_DESTINO] [varchar](50) NULL,
	[CANTIDAD] [int] NULL,
	[DOC_REF_1] [varchar](50) NULL,
	[DOC_REF_2] [varchar](50) NULL,
	[DOC_REF_3] [varchar](50) NULL,
	[DOC_REF_4] [varchar](50) NULL,
	[DOC_REF_5] [varchar](50) NULL,
	[FECHA_TRANSACCION] [date] NULL,
 CONSTRAINT [PK_MOV_INVENTARIO] PRIMARY KEY CLUSTERED 
(
	[COD_CIA] ASC, [COMPANIA_VENTA_3] ASC, [ALMACEN_VENTA] ASC,
	[TIPO_MOVIMIENTO] ASC, [TIPO_DOCUMENTO] ASC, [NRO_DOCUMENTO] ASC,
	[COD_ITEM_2] ASC
)
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MasterTableRegister] WITH CHECK ADD CONSTRAINT [FK_MasterTableRegister_MasterTable] FOREIGN KEY([IdMasterTable])
REFERENCES [dbo].[MasterTable] ([IdMasterTable]) ON DELETE CASCADE
GO

/****** 3. INSERCIÓN DE DATOS MAESTROS OBLIGATORIOS ******/

-- Tipos de Documento
INSERT INTO MasterTable (Code, Nombre) VALUES ('TPDOC', 'Tipos de Documento');
DECLARE @IdDoc INT = SCOPE_IDENTITY();
INSERT INTO MasterTableRegister (IdMasterTable, Code, Nombre) VALUES 
(@IdDoc, '01', 'DNI'), (@IdDoc, '06', 'R.U.C'), (@IdDoc, '00', 'Otros');
GO

-- Tipos de Movimiento
INSERT INTO MasterTable (Code, Nombre) VALUES ('TPMOV', 'Tipos de Movimiento Almacén');
DECLARE @IdMov INT = SCOPE_IDENTITY();
INSERT INTO MasterTableRegister (IdMasterTable, Code, Nombre) VALUES 
(@IdMov, 'E1', 'Entrada por Compra'), (@IdMov, 'S1', 'Salida por Venta');
GO

-- Almacenes
INSERT INTO MasterTable (Code, Nombre) VALUES ('ALMAC', 'Lista de Almacenes Autorizados');
DECLARE @IdAlm INT = SCOPE_IDENTITY();
INSERT INTO MasterTableRegister (IdMasterTable, Code, Nombre) VALUES 
(@IdAlm, 'ALM-01', 'Almacén Central'), (@IdAlm, 'ALM-02', 'Almacén Norte');
GO

-- Compañías
DECLARE @IdCia INT = SCOPE_IDENTITY();
GO

-- Ítems/Productos
DECLARE @IdItm INT = SCOPE_IDENTITY();
GO

-- Proveedores
DECLARE @IdPrv INT = SCOPE_IDENTITY();
GO

/****** 4. PROCEDIMIENTOS ALMACENADOS (STORED PROCEDURES) ******/

CREATE PROCEDURE [dbo].[sp_MasterTable_ConsultarPorCodigo]
    @CodigoMaestro VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT M.Code AS CodigoMaestro, R.Code AS CodigoDocumento, R.Nombre AS DescripcionDocumento
    FROM MasterTableRegister R
    INNER JOIN MasterTable M ON R.IdMasterTable = M.IdMasterTable
    WHERE M.Code = @CodigoMaestro;
END
GO

CREATE PROCEDURE [dbo].[sp_MovInventario_Insertar]
    @COD_CIA varchar(5), @COMPANIA_VENTA_3 varchar(5), @ALMACEN_VENTA varchar(10),
    @TIPO_MOVIMIENTO varchar(2), @TIPO_DOCUMENTO varchar(2), @NRO_DOCUMENTO varchar(50),
    @COD_ITEM_2 varchar(50), @PROVEEDOR varchar(100) = NULL, @ALMACEN_DESTINO varchar(50) = NULL,
    @CANTIDAD int = NULL, @FECHA_TRANSACCION DATE = NULL
AS
BEGIN
    IF EXISTS (SELECT 1 FROM MOV_INVENTARIO WHERE COD_CIA = @COD_CIA AND ALMACEN_VENTA = @ALMACEN_VENTA AND COD_ITEM_2 = @COD_ITEM_2)
    BEGIN
        UPDATE MOV_INVENTARIO SET PROVEEDOR = @PROVEEDOR, CANTIDAD = @CANTIDAD, FECHA_TRANSACCION = @FECHA_TRANSACCION, ALMACEN_DESTINO = @ALMACEN_DESTINO
        WHERE COD_CIA = @COD_CIA AND ALMACEN_VENTA = @ALMACEN_VENTA AND COD_ITEM_2 = @COD_ITEM_2;
    END
    ELSE
    BEGIN
        INSERT INTO MOV_INVENTARIO (COD_CIA, COMPANIA_VENTA_3, ALMACEN_VENTA, TIPO_MOVIMIENTO, TIPO_DOCUMENTO, NRO_DOCUMENTO, COD_ITEM_2, PROVEEDOR, ALMACEN_DESTINO, CANTIDAD, FECHA_TRANSACCION)
        VALUES (@COD_CIA, @COMPANIA_VENTA_3, @ALMACEN_VENTA, @TIPO_MOVIMIENTO, @TIPO_DOCUMENTO, @NRO_DOCUMENTO, @COD_ITEM_2, @PROVEEDOR, @ALMACEN_DESTINO, @CANTIDAD, @FECHA_TRANSACCION);
    END
END
GO

CREATE PROCEDURE [dbo].[sp_MovInventario_Consultar]
    @FechaInicio DATE = NULL, @FechaFin DATE = NULL, @TipoMovimiento varchar(2) = NULL, @NroDocumento varchar(50) = NULL
AS
BEGIN
    SELECT M.*, CIA.Nombre AS NombreCompania, ALM.Nombre AS NombreAlmacen, TM.Nombre AS NombreMovimiento, TD.Nombre AS NombreTipoDoc, ITM.Nombre AS NombreItem, PRV.Nombre AS NombreProveedor
    FROM dbo.MOV_INVENTARIO M
    LEFT JOIN MasterTableRegister CIA ON M.COMPANIA_VENTA_3 = CIA.Code AND CIA.IdMasterTable = (SELECT IdMasterTable FROM MasterTable WHERE Code = 'CIAVT')
    LEFT JOIN MasterTableRegister ALM ON M.ALMACEN_VENTA = ALM.Code AND ALM.IdMasterTable = (SELECT IdMasterTable FROM MasterTable WHERE Code = 'ALMAC')
    LEFT JOIN MasterTableRegister TM ON M.TIPO_MOVIMIENTO = TM.Code AND TM.IdMasterTable = (SELECT IdMasterTable FROM MasterTable WHERE Code = 'TPMOV')
    LEFT JOIN MasterTableRegister TD ON M.TIPO_DOCUMENTO = TD.Code AND TD.IdMasterTable = (SELECT IdMasterTable FROM MasterTable WHERE Code = 'TPDOC')
    LEFT JOIN MasterTableRegister ITM ON M.COD_ITEM_2 = ITM.Code AND ITM.IdMasterTable = (SELECT IdMasterTable FROM MasterTable WHERE Code = 'ITEMS')
    LEFT JOIN MasterTableRegister PRV ON M.PROVEEDOR = PRV.Code AND PRV.IdMasterTable = (SELECT IdMasterTable FROM MasterTable WHERE Code = 'PROVE')
    WHERE (@FechaInicio IS NULL OR M.FECHA_TRANSACCION >= @FechaInicio)
      AND (@FechaFin IS NULL OR M.FECHA_TRANSACCION <= @FechaFin)
      AND (@TipoMovimiento IS NULL OR M.TIPO_MOVIMIENTO = @TipoMovimiento)
      AND (@NroDocumento IS NULL OR M.NRO_DOCUMENTO LIKE '%' + @NroDocumento + '%')
    ORDER BY M.FECHA_TRANSACCION DESC;
END
GO